.results-card {
    flex: 0 1 400px;
    height: 500px;
    box-shadow: 0 20px 15px -12px rgba(0,0,0,0.5), 0 0 1px rgba(0,0,0,0.2);
    margin: 15px 25px;
    background: white;
}

.results-card a {
    text-decoration: none;
}

.results-card__title {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #82d0ff;
    color: #505050;
    transition: 150ms linear;
}

.results-card__title:hover {
    background-color: #57bdfc;    
}

.results-card__img {
    padding: 5px;
    overflow-y: scroll;
    height: 430px;
    width: 100%;
}

.results-card__img img {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
}
