.diff-form {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-bottom: 10px;
    box-shadow: 0 8px 15px -4px rgba(0,0,0,0.3);
    z-index: 1;
}

.diff-form__group {
    grid-column: 1 / 2;
    display: flex;
    flex-wrap: nowrap;
    margin: 5px;
}

.diff-form__group ::-webkit-input-placeholder {
    color: rgba(0,0,0,0.2);
}

.diff-form__label {
    font-weight: bold;
    margin-right: 10px;
    flex: 0 1 300px;
    text-align: right;
    padding: 6px 9px;
}

.diff-form__field {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.diff-form__field * {
    flex: 1;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

.diff-form__submit {
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diff-form__submit button {
    height: 80%;
    width: 80%;
    max-width: 250px;
}