.diff-preview {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diff-preview.initial, .diff-preview.error {
    height: 400px;
}

.diff-preview.results {
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1400px;
    margin: 0 auto;
}

