.diff-preview {
    flex: 1 0 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diff-preview.results {
    flex-wrap: wrap;
    justify-content: center;
}

