.diff-container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #e0eafc, #cfdef3); 
}

.diff-container header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
}

.diff-container header h1 {
    font-weight:bold;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 0.25em;
    color: #1ABC9C;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #34495E;
    text-shadow:
    -1px 1px 0 #34495E,
    -2px 2px 0 #34495E,
    -3px 3px 0 #34495E,
    -4px 4px 0 #34495E,
    -5px 5px 0 #34495E,
    3px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 10px 0;
    text-align: center;
}